<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee records</title>
    <style>
        table {
        border-collapse: collapse;
        width: 100%;
        }

        th, td {
        text-align: left;
        padding: 8px;
        }
        tr:nth-child(even) {
            background-color: lightcyan;
            padding: 20px;
        }

    </style>
</head>
<body>
    <h1><%= title %></h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
            <% employee.forEach(function(result){ %>
            <tr>
                <td><%= result.Name %></td>
                <td><%= result.Age %></td>
            </tr>
            <%  }); %>
    </table>
</body>
</html>